*, *::after,*::before{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

header{
    width: 100vw;
    height: 30vh;
    display: block;
    position: relative;
}

.back-holder{
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url(./images/background.png);
    background-color: #2F2F2F;
    position: absolute;
}

.top-layer{
    display: block;
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(./images/das.png);
}

.img-text{
    display: flex;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    color: #99FF72;
    font-size: 66px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
}

.hero{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.username-div{
    padding-top: 50px;
    padding-bottom: 40px;
}

input{
    border: none;
    width: 500px;
    padding-bottom: 8px;
    border-bottom: solid 1.5px #000000;
}

input::placeholder{
    color: #969696;
    font-weight: 700;
    font-size: 10px;
}

.btn-design{
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.btn-design > button{
    background: #5AAC3B;
    border-radius: 18px;
    color: white;
    border: none;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    padding: 12px 110px 12px 110px;
}

.small-text{
    margin-top: 8px;
    font-size: 10px;
    font-weight: 700;
    color: #969696;
}

.container-sign{
    display: flex;
    background: #C5221F;
    margin-top: 35px;
    padding: 12px 80px 12px 80px ;
    border-radius: 30px;
    color: white;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.gmail{
    background-image: url(./images/gm.png);
    width: 25px;
    height: 30px;
    background-size: contain;
    margin-left: 20px;
}

h3{
    padding: 3.5px;
}

.social{
    width: 100vw;
    height: max-content;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.img-hold{
    height: 25px;
    width: 108px;
    background-size: contain;
    background-image: url(./images/socail.png);
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.link{
    text-decoration: none;
}

.budhha-logo{
    width: 80px;
    height: 60px;
    background-size: cover;
    background-image: url(./images/logo.jpeg);
}

.header-subject{
    display: flex;
    width: 100%;
    background: #5AAC3B;
    height: 14vh;
    align-items: center;
}

.left-section{
    display: flex;
    padding-left: 19px;
    margin-right: auto;
    align-items: center;
}

.subBtn{
    color: #737478;
    font-size: 14px;
    margin-left: 35px;
    padding: 10px 30px 10px 30px;
    font-weight: 700;
    background-color: #D9D9D9;
    border-radius: 26px 0px 0px 26px;
}

.right-section{
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.right-section > h4{
    margin: 0px 12px;
    font-size: 12px;
    font-weight: 600;
}

.right-section > div{
    margin-right: 20px;
    font-size: 12px;
}

.container-subject{
    display: block;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 15px;
}

.con-subject{
    background-color: #D9D9D9;
    padding: 20px;
    width: 70%;
    min-height: 10vh;
}

.each-subject{
    background-color: white;
    color: #ACACAC;
    margin-bottom: 2%;
    border-radius: 25px;
    font-size: 14px;
    height: 15vh;
    display: flex;
}

.name-area{
    margin-right: auto;
    padding: 15px 30px;
}

.area{
    border-left: 1px solid #D9D9D9;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.area > button{
    margin-top: 20px;
    color: #8B6B6B;
    font-size: 12px;
    width: 75%;
    border-radius: 30px;
    border: none;
    background-color: #D9D9D9;
    padding: 5px 0px 5px 0px;
}

.marks{
    display: flex;
}

.marks > p{
    margin-right: 20px;
}

.log-out{
    cursor: pointer;
}

.log-out:hover{
    background-color: white;
    color: #5AAC3B;
}

.name-div{
    display: flex;
}

.firstname-div > input,.lastname-div > input{
    width: 250px;
}

.name-div{
    margin-top: 50px;
}

.sign-divs > div{
    margin-bottom: 25px;
}

.question-area{
    padding: 40px 10vw 20px 10vw;
    width: 100%;
}

.each-question{
    border-bottom: 2px solid #DBDEF0;;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.each-question > h3{
    color: #293264;
    margin-bottom: 12px;
    font-size: 16px;
}

.check-answer{
    font-weight: 600;
    font-size: 10.24px;
    line-height: 12px;
    text-align: center;
    color: #F5F7FB;
    width: 140px;
    height: 45px;
    background: #727FF5;
    border-radius: 10px;
    border: none;
}

.btn-con{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.answer-items{
    display: flex;
}
.answer-item{
    display: flex;
    margin-right: 13px;
    min-width: 65.92px;
    padding: 5px 12px;
    height: 20.65px;
    border: 0.794239px solid #4D5B9E;
    border-radius: 7.94239px;
    font-weight: 500;
    font-size: 10.24px;
    align-items: center;
    justify-content: center;
    color: #293264;
}

.clicked{
    background-color: #727FF5;
}

.wrapper{
    display: flex;
}

.side-bar{
    background-color: #D9B785;
    padding: 30px 30px;
    min-height: 86vh;
    width: 15%;
}

.side-bar > div{
    margin-bottom: 10px;
    background-color: #D9D9D9;
    text-align: center;
    border: solid 1px gray;
    color: #293264;
    font-size: 14px;
    padding: 6px 10px;
}

.divst{
    text-decoration: none;
}

.main-content{
    min-height: 86vh;
    width: 85%;
    padding: 10vh 10vw;
}

.child-div{
    background-color: #D9B785;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    padding-bottom: 10vh;
    align-items: center;
}

.sub-cons{
    background-color: #D9D9D9;
    text-align: center;
    font-weight: 700;
    color: gray;
    padding: 10px 25vw;
    margin-bottom: 8vh;
}

.each-con-sub{
    background-color: #D9D9D9;
    width: 60%;
    display: flex;
    border-bottom: solid 1px gray;
}

.name-sub,.up-sub{
    width: 33%;
    text-align: center;
    border-right: solid 1px gray;
    font-size: 12px;
    padding: 6px 15px;
}

.up-del{
    width: 33%;
    text-align: center;
    font-size: 12px;
    padding: 6px 15px;
}

.btn-desig{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.btn-desig > button{
    background-color: #293264;
    color: white;
    border-radius: 10px;
    padding: 5px 18px;
    border: none;
}

label{
    margin-right: 20px;
    font-size: 14px;
    color: #293264;
}

.form-das{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.dasst{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.answer-divst{
    display: flex;
    flex-direction: column;
}

select{
    width: 39.3vw;
}

.main-rec{
    display: flex;
    width: 100%;
    min-height: 86vh;
    justify-content: center;
    align-items: center;
}

.content-rec{
    display: flex;
    width: 60%;
    min-height: 50vh;
    align-items: center;
    background-color: #8B6B6B;
    padding: 10vh;
}

.man{
    background-image: url(./images/man.png);
    width: 35%;
    height: 30vh;
    padding: 20px;
    background-size: cover;
    margin-right: 20px;
}

.formcon{
    height: 40vh;
    color: #D9D9D9;
}

.user-up{
    margin-top: 5vh;
}

.first-div> input,.last-div > input{
    width: 20vw;
    margin: 10px 0px;
}

.first-div{
    margin-top: 8vh;
}

.btnst{
    padding: 3px 10px;
}